In [1]:
import pandas as pd
import numpy as np

In [2]:
# if you wish to use Google Colab and your Google Drive

# from google.colab import drive
# drive.mount('/content/gdrive')

In [3]:
# df = pd.read_csv('gdrive/MyDrive/Colab Notebooks/openbible/cross_references_expanded.csv')

In [4]:
df = pd.read_csv('cross_references_expanded.csv')

In [5]:
df.shape

(344799, 19)

In [6]:
df = df.astype({'To Verse end':'str', 'To Verse end Book':'str', 'To Verse end Chapter':'str', 'To Verse end number':'str', 'To Verse end Book number':'str'})

In [7]:
df['To Verse end Chapter'] = df['To Verse end Chapter'].apply(lambda x: x.replace('.0',''))
df['To Verse end number'] = df['To Verse end number'].apply(lambda x: x.replace('.0',''))
df['To Verse end Book number'] = df['To Verse end Book number'].apply(lambda x: x.replace('.0',''))

In [8]:
df = df.sort_values('From Book number')

In [9]:
book_list = df['From Book'].unique().tolist()

In [10]:
print(len(book_list))
print(book_list[0])
print(type(book_list[0]))

66
Gen
<class 'str'>

In [11]:
book_dict = {}
for i in range(len(book_list)):
  book_dict[book_list[i]] = df[df['From Book'] == book_list[i]]

In [12]:
len(book_dict)

66

In [13]:
np.sort(book_dict.get(book_list[0])['From Chapter'].unique(), axis=None)

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50],
      dtype=int64)

In [14]:
book_dict.get(book_list[0])[book_dict.get(book_list[0])['From Chapter'] == 1]

,From Verse,To Verse,Votes,From Book,From Chapter,From Verse number,To Verse start,To Verse end,To Verse start Book,To Verse start Chapter,To Verse start number,To Verse end Book,To Verse end Chapter,To Verse end number,From Book number,To Verse start Book number,To Verse end Book number,From Book Testament,To Book Testament
0,Gen.1.1,Rev.21.6,38,Gen,1,1,Rev.21.6,nan,Rev,21,6,nan,nan,nan,1,66,nan,Old,New
172385,Gen.1.1,Zech.12.1,45,Gen,1,1,Zech.12.1,nan,Zech,12,1,nan,nan,nan,1,38,nan,Old,Old
172386,Gen.1.6,Zech.12.1,5,Gen,1,6,Zech.12.1,nan,Zech,12,1,nan,nan,nan,1,38,nan,Old,Old
175504,Gen.1.14,Matt.16.2-Matt.16.3,4,Gen,1,14,Matt.16.2,Matt.16.3,Matt,16,2,Matt,16,3,1,40,40,Old,New
175503,Gen.1.14,Matt.2.2,4,Gen,1,14,Matt.2.2,nan,Matt,2,2,nan,nan,nan,1,40,nan,Old,New
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7,Gen.1.14,Rev.6.12,4,Gen,1,14,Rev.6.12,nan,Rev,6,12,nan,nan,nan,1,66,nan,Old,New
4,Gen.1.1,Rev.3.14,27,Gen,1,1,Rev.3.14,nan,Rev,3,14,nan,nan,nan,1,66,nan,Old,New
3,Gen.1.1,Rev.10.6,45,Gen,1,1,Rev.10.6,nan,Rev,10,6,nan,nan,nan,1,66,nan,Old,New
1,Gen.1.1,Rev.14.7,60,Gen,1,1,Rev.14.7,nan,Rev,14,7,nan,nan,nan,1,66,nan,Old,New
2,Gen.1.1,Rev.22.13,39,Gen,1,1,Rev.22.13,nan,Rev,22,13,nan,nan,nan,1,66,nan,Old,New

In [15]:
len(book_dict.get(book_list[0])['From Chapter'].unique())

50

In [16]:
book_dict.get(book_list[0])['From Chapter'].unique()[0]

1

In [17]:
from_chap_dict = {}
for i in range(len(book_list)):
  book_iter = book_dict.get(book_list[i])
  for j in range(len(book_iter['From Chapter'].unique())):
    chap_sort = np.sort(book_iter['From Chapter'].unique(), axis=None)
    from_chap_dict[book_list[i] + '_' + str(chap_sort[j])] = book_dict.get(book_list[i])[book_iter['From Chapter'] == chap_sort[j]]

In [18]:
print(f'number of chapters in the Bible:', len(from_chap_dict))

number of chapters in the Bible: 1189

In [19]:
# Bible Gateway lookup
bg_base = 'https://www.biblegateway.com/passage/?search='
bg_version = '&version=ESV'

In [20]:
book_max_list = []
for i in range(len(book_list)):
  book_max_list.append(book_list[i] + '_' + str(book_dict.get(book_list[i])['From Chapter'].max()))

In [21]:
print(book_max_list)

['Gen_50', 'Exod_40', 'Lev_27', 'Num_36', 'Deut_34', 'Josh_24', 'Judg_21', 'Ruth_4', '1Sam_31', '2Sam_24', '1Kgs_22', '2Kgs_25', '1Chr_29', '2Chr_36', 'Ezra_10', 'Neh_13', 'Esth_10', 'Job_42', 'Ps_150', 'Prov_31', 'Eccl_12', 'Song_8', 'Isa_66', 'Jer_52', 'Lam_5', 'Ezek_48', 'Dan_12', 'Hos_14', 'Joel_3', 'Amos_9', 'Obad_1', 'Jonah_4', 'Mic_7', 'Nah_3', 'Hab_3', 'Zeph_3', 'Hag_2', 'Zech_14', 'Mal_4', 'Matt_28', 'Mark_16', 'Luke_24', 'John_21', 'Acts_28', 'Rom_16', '1Cor_16', '2Cor_13', 'Gal_6', 'Eph_6', 'Phil_4', 'Col_4', '1Thess_5', '2Thess_3', '1Tim_6', '2Tim_4', 'Titus_3', 'Phlm_1', 'Heb_13', 'Jas_5', '1Pet_5', '2Pet_3', '1John_5', '2John_1', '3John_1', 'Jude_1', 'Rev_22']

In [22]:
# enter Book, Chapter and Verse number of interest
# use the cell above to enter the proper Book abbreviation and to see the max chapter number

book_query = 'Rev'
chapter_query = 22
versenum = 1

df_query = book_query + '_' + str(chapter_query)
queryf_sort = from_chap_dict.get(df_query).sort_values(['From Chapter', 'From Verse number'])

queryf_sort_versenum = queryf_sort[queryf_sort['From Verse number'] == versenum].sort_values(['To Verse start Book number', 'To Verse start Chapter', 'To Verse start number'])
#queryf_sort_versenum

print('From verse: ' +book_query + ' ' + str(chapter_query) + ':' + str(versenum) + ' ' + bg_base + book_query + '.' + str(chapter_query) + '.' + str(versenum))
print()
print("To verses:")
queryf_sort_versenum_list = queryf_sort_versenum['To Verse'].to_list()
for i in range(len(queryf_sort_versenum)):
  reff = queryf_sort_versenum_list[i]
  print(reff, bg_base + reff + bg_version)

From verse: Rev 22:1 https://www.biblegateway.com/passage/?search=Rev.22.1

To verses:
Ps.36.8-Ps.36.9 https://www.biblegateway.com/passage/?search=Ps.36.8-Ps.36.9&version=ESV
Ps.46.4 https://www.biblegateway.com/passage/?search=Ps.46.4&version=ESV
Isa.41.18 https://www.biblegateway.com/passage/?search=Isa.41.18&version=ESV
Isa.48.18 https://www.biblegateway.com/passage/?search=Isa.48.18&version=ESV
Isa.66.12 https://www.biblegateway.com/passage/?search=Isa.66.12&version=ESV
Jer.2.13 https://www.biblegateway.com/passage/?search=Jer.2.13&version=ESV
Jer.17.13 https://www.biblegateway.com/passage/?search=Jer.17.13&version=ESV
Ezek.47.1-Ezek.47.9 https://www.biblegateway.com/passage/?search=Ezek.47.1-Ezek.47.9&version=ESV
Zech.14.8 https://www.biblegateway.com/passage/?search=Zech.14.8&version=ESV
John.4.10-John.4.11 https://www.biblegateway.com/passage/?search=John.4.10-John.4.11&version=ESV
John.4.14 https://www.biblegateway.com/passage/?search=John.4.14&version=ESV
John.7.38-John.7.39 https://www.biblegateway.com/passage/?search=John.7.38-John.7.39&version=ESV
John.14.16-John.14.18 https://www.biblegateway.com/passage/?search=John.14.16-John.14.18&version=ESV
John.15.26 https://www.biblegateway.com/passage/?search=John.15.26&version=ESV
John.16.7-John.16.15 https://www.biblegateway.com/passage/?search=John.16.7-John.16.15&version=ESV
Acts.1.4-Acts.1.5 https://www.biblegateway.com/passage/?search=Acts.1.4-Acts.1.5&version=ESV
Acts.2.33 https://www.biblegateway.com/passage/?search=Acts.2.33&version=ESV
Rev.3.21 https://www.biblegateway.com/passage/?search=Rev.3.21&version=ESV
Rev.4.5-Rev.4.6 https://www.biblegateway.com/passage/?search=Rev.4.5-Rev.4.6&version=ESV
Rev.5.6 https://www.biblegateway.com/passage/?search=Rev.5.6&version=ESV
Rev.5.13 https://www.biblegateway.com/passage/?search=Rev.5.13&version=ESV
Rev.7.10-Rev.7.11 https://www.biblegateway.com/passage/?search=Rev.7.10-Rev.7.11&version=ESV
Rev.7.17 https://www.biblegateway.com/passage/?search=Rev.7.17&version=ESV
Rev.21.6 https://www.biblegateway.com/passage/?search=Rev.21.6&version=ESV
Rev.21.11 https://www.biblegateway.com/passage/?search=Rev.21.11&version=ESV
Rev.22.17 https://www.biblegateway.com/passage/?search=Rev.22.17&version=ESV

In [23]:
# queryf_sort_versenum